<!-- Copyright Â© 2022 | LuciferMorningstarDev | All Rights Reserved | ( Email: contact@lucifer-morningstar.dev ) -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SafeOasis Create Account</title>

        <meta property="og:site_name" content="SafeOasis Create Account" />
        <meta property="og:locale" content="en" />
        <meta property="og:image" content="/public/images/logo_64.png" />
        <meta property="og:url" content="https://safeoasis.xyz/register" />
        <meta property="og:title" content="SafeOasis | A Discord Community" />
        <meta property="og:description" content="Create Account on safeoasis.xyz - Once a small community, now a place where you can connect, where you can help." />
        <meta name="description" content="Create Account on safeoasis.xyz - Once a small community, now a place where you can connect, where you can help.ð•£" />
        <meta name="keyword" content="SafeOasis, community, discord, discord community, safe oasis, pronouns" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="LuciferMorningstarDev" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="english" />
        <meta name="revisit-after" content="30 days" />
        <meta name="application-name" content="SafeOasis Create Account" />
        <meta name="apple-mobile-web-app-title" content="SafeOasis Create Account" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="theme-color" content="#431847" />
        <meta name="msapplication-TileColor" content="#431847" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#431847" />
        <link rel="canonical" href="https://safeoasis.xyz/register" />

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="/public/sass/style.css" />
        <script src="/public/scripts/login.js"></script>
    </head>
    <body class="noselect">
        <a href="<%= path === '/' ? 'javascript:void(0);' : '/' %>" class="home"><i class="fas fa-home fa-2x home-icon"></i></a>
        <header class="header">
            <section class="register-section">
                <div class="error">
                    <h3 class="error-title"><%= error?.title %></h3>
                    <p class="error-description"><%= error?.description %></p>
                </div>
                <form id="register-form" action="/register" method="post">
                    <input type="hidden" name="csrf_token" value="<%= csrf_token %>" />

                    <label for="username">Username</label>
                    <input type="text" , name="username" id="username" />
                    <label for="email">Email</label>
                    <input type="email" name="email" , id="email" />
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                    <label for="password_confirm">Repeat Password</label>
                    <input type="password" name="password_confirm" id="password_confirm" />

                    <button type="submit">Create Account</button>
                </form>
            </section>
        </header>

        <footer class="footer">
            <section class="footer-left">
                <section class="footer-logo">
                    <a href="<%= path === '/' ? 'javascript:void(0);' : '/' %>">
                        <img src="/public/images/logo_512.png" alt="footer-logo" class="footer-logo-image" />
                    </a>
                </section>
                <section class="footer-nav">
                    <div class="nav-menu">
                        <h4 class="nav-title">Company</h4>
                        <div class="nav-items">
                            <div class="nav-item">
                                <a href="#" class="nav-link">About Us</a>
                            </div>
                            <div class="nav-item">
                                <a href="#" class="nav-link">Jobs</a>
                            </div>
                            <div class="nav-item">
                                <a href="#" target="_blank" class="nav-link">Branding</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-menu">
                        <h4 class="nav-title">Resources</h4>
                        <div class="nav-items">
                            <div class="nav-item">
                                <a href="#" target="_blank" class="nav-link">Support</a>
                            </div>
                            <div class="nav-item">
                                <a href="/discord" target="_blank" class="nav-link">Discord</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-menu">
                        <h4 class="nav-title">Policies</h4>
                        <div class="nav-items">
                            <div class="nav-item">
                                <a href="<%= path === '/terms' ? 'javascript:void(0);' : '/terms' %>" class="nav-link">Terms of Service</a>
                            </div>
                            <div class="nav-item">
                                <a href="<%= path === '/privacy' ? 'javascript:void(0);' : '/privacy' %>" class="nav-link">Privacy Policy</a>
                            </div>
                            <div class="nav-item">
                                <a href="<%= path === '/cookies' ? 'javascript:void(0);' : '/cookies' %>" class="nav-link">Cookie Policy</a>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="footer-right footer-socials">
                <a class="nav-link" href="/twitter" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter fa-2x nav-icon"></i>
                </a>
                <a class="nav-link" href="/discord" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-discord fa-2x nav-icon"></i>
                </a>
                <a class="nav-link" href="/tiktok" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-tiktok fa-2x nav-icon"></i>
                </a>
                <a class="nav-link" href="/instagram" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram fa-2x nav-icon"></i>
                </a>
            </section>
        </footer>
    </body>
</html>
